@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --orange: #ff8c00;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behaviour: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    
}

section {
    padding: 2rem 9%;

}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)
    }

header .logo {
font-family: 'Fredoka', sans-serif;
font-size: 3rem;
color: #333;
font-weight: bolder;
}

header .logo span {
    color:var(--orange);
    font-family: 'Fredoka', sans-serif;
}
    
header .logo {
font-size:3rem;
color:#333;
font-weight:bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 2rem;
    color:#666;
    font-family: 'Poppins', sans-serif;
}

header .navbar a:hover {
    color:var(--orange);
}


header .icons a {
    font-size: 2rem;
    color: #333;
    margin-left: 2rem;
}

header .icons a:hover {
    color:var(--orange);
    }

header #toggler {
    display: none;

}

header .fa-bars {
    font-size: 2rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba (0, 0, 0, 0.3);
    display: none;
}

/* home section starts here */

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url('') no-repeat;
}


/* home section ends here */








/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 55.5%;
        
    }
    header {
        padding: 2rem;
    }
}


@media (max-width: 768px) {
    header .fa-bars{
        display: block;
        
    }
    header .navbar{
        position: absolute;
        top: 100%; right: 0; left:0;
        background:#eee;
        border-top: 0.1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background:#fff;
    border: 1rem solid rgba(0,0,0,.1);
    display: block;
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
            
        }
        header {
            padding: 2rem;
        }
    }
    
}
