@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --orange: #ff8c00;
}

* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    transition: .2s linear;
}

.frete {
  background-color: orange;
}
.frete p {
  color: black;
  text-align: center;
  font-size: 15px;
}
.topnav {
    background-color: white;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 2rem;
    padding: 0 2rem;
    color: #666;
    display: flex;
    justify-content: space-between;
    
  }
  
  .nav-title{
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;

  }

  .topnav a.nav-title {
    text-decoration: none;
  }

  .topnav a {
    text-decoration: none;
    margin: 1px 0px 5px 15px;
    padding: 0px;
    
  }

  .topnav a:hover {
    color:var(--orange);
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

#nav-logo {
    font-family: 'Fredoka', sans-serif;
    color:#333;
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: 700;
}

#nav-logo span{
    color: orange;
}

.topnav .icons a {
    text-decoration: none;
  }

.icons a {
    font-size: 2rem;
    color: #333;
    margin-left: 2rem;
    text-decoration: none;
}

.icons a:hover {
    color:var(--orange);
    }

    html,
    body {
      height: 100%;
    }
    .bs-fullscreen {
      height: 100%;
    }
    .bs-fullscreen .carousel,
    .bs-fullscreen .item,
    .bs-fullscreen .active {
      height: 100%;
    }
    .bs-fullscreen .carousel-inner {
      height: 90%;
    }
    
    .carousel-bg .carousel-inner .item {
      background-color: darkslategrey;
      background-size: cover;
      background-position: center;
      min-height: 360px;
    }

  * {
      scrollbar-width: auto;
      scrollbar-color: #333 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0%;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #ffff

  }

  body {
    font-family:Inter;
  }
  
  .header{
    background-color: orange;
    
  }
  .card-title {
    overflow: hidden;
    
  }
  .card-title p {
    font-family: 'Fredoka', sans-serif;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    margin: 25px;

  }

.slider {
  display: flex;
}

  .card {
    flex: 1;
    width: 300px;
    min-width: 300px;
    height:auto;
    background:#fff;
    border-radius:30px;
    position:relative;
    z-index:10;
    margin:25px;
    min-height:356px;
    cursor:pointer;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
  }
  
  .card:hover {
    transform:translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  .card h4 {
    position:absolute;
    left: 0;
    top: 0;
    padding: 15px;
  }
  
  .card i {
    position:absolute;
    right: 0;
    top: 0;
    padding: 15px;
    font-size:1.4rem;
    line-height:3.2rem;
  }
  
  .card .card-text {
    padding: 20px;
  }
  
  p {
    font-size: 1.2rem;
    opacity: .8;
    margin-top: 10px;
  }
  
  .card .card-img {
    transform: translate(90px,-10px);
    margin: 0 30px;
    display:flex;
    align-items: center;
    justify-content:center;
    transition: all .35s ease-out;
  }
  
  .card img {
    height:180px;
  }
  
  .card img.blur {
    position:absulute;
    filter:blur(15px);
    z-index:-1;
    opacity:.40;
    transform: translate(-160px,30px);
    transition: all .35s ease-out;
  }
  
  .card:hover .card-img {
    transform:translate(70px,-15px);
  }
  
  .card:hover .card-img img.blur {
    transform:translate(-100px,35px) scale(.85);
    opacity:.25;
    filter:blur(20px);
  }
  
  .card-content {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    overflow: hidden;
    padding-top: 100px;
    padding-left:60px;
    padding-right: 70px;
    scroll-behavior:smooth;
  }
  
  .card-content::-webkit-scrollbar {
     height:0px;
  }
  
  .card-content:after {
    content:'';
    display:block;
    min-width:20px;
    height:100px;
    position:relative;
  }
  
  .btn{
    min-width:60px;
    margin: 300px 0 0 30px;
    height:60px;
    border-radius:20px;
    background:#fff;
    border:0px;
    outline:none;
    cursor:pointer;
    z-index:9999;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
  }
  
  .btn:hover{
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  .btn i {
    font-size:1.2rem;
  }
  
  .slider {
    display:flex;
    justify-content:center;
    background:rgb(242,243,248);
    width:100%;
    height:90vh;
    overflow:hidden;
  }
  
  .slider:after {
    content:'';
    left:90px;
    height:90vh;
    position:absolute;
    width: 130px;
    z-index:100;
    background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0)  100%);
    pointer-event:none;
  }
  
  .slider:before {
    content:'';
    right:90px;
    height:90vh;
    position:absolute;
    width:150px;
    z-index:100;
    background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1)  100%);
    pointer-event:none;
  }

#wrap {
    width:900px;
    margin:10px auto;
     
}
h2,p{margin:.5em 1em}

#nav { 
    width:900px;
    margin:0;
    padding:5px 0;
    text-align:center;
    list-style:none;
    justify: space-between;
}    

#nav li {
    display: inline-block;
}

#nav li a {
    display: inline-block;
    padding:5px 10px;
    text-decoration:none;
    color: red;
    font-weight:bold;
}

.benefits-line {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.benefits-line li {
  display: inline-block;
  min-width: 5em;
  margin: 0 5em;
}

.benefits-line li img {
  height: 80px;
  width:  80px;
  margin-top: 20px;
}

.benefits-line p {
  height: 100px;
  width: 250px;
 
}

.benefits-line h3 {
  width: 250px;
  height: 20px;
  font-size: 2rem;
  
}

/* media queries */