@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --orange: #ff8c00;
}

html {
  font-size: 100%;
}

.body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    transition: .2s linear;
}

/* inicio da header acima da topnav */

.frete {
  background-color: orange;
}
.frete p {
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

/* fim da header acima da topnav */
/* inicio da topnav */

.topnav {
    background-color: white;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 2rem;
    padding: 0 2rem;
    color: #666;
    display: flex;
    justify-content: space-between;
    
  }
  
  .nav-title{
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;

  }

  .topnav a.nav-title {
    text-decoration: none;
  }

  .topnav a {
    text-decoration: none;
    margin: 1px 0px 5px 15px;
    padding: 0px;
    
  }

  .topnav a:hover {
    color:var(--orange);
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

#nav-logo {
    font-family: 'Fredoka', sans-serif;
    color:#333;
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: 700;
}

#nav-logo span{
    color: orange;
}
/* fim da nav */
/* inicio dos topnav icons */

.topnav .icons a {
    text-decoration: none;
  }

.icons a {
    font-size: 2rem;
    color: #333;
    margin-left: 2rem;
    text-decoration: none;
}

.icons a:hover {
    color:var(--orange);
    }

/* fim do topnav icons */
/* inicio do carrousel bg  */
    html,
    body {
      height: 100%;
    }
    .bs-fullscreen {
      height: 100%;
    }
    .bs-fullscreen .carousel,
    .bs-fullscreen .item,
    .bs-fullscreen .active {
      height: 100%;
    }
    .bs-fullscreen .carousel-inner {
      height: 100%;
    }
    
    .carousel-bg .carousel-inner .item {
      background-color: darkslategrey;
      background-size: cover;
      background-position: center;
      min-height: 360px;
    }

    /* fim do carrousel bg  */
    /* inicio da scrollbar */

  * {
      scrollbar-width: auto;
      scrollbar-color: #333 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0%;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #ffff

  }

  body {
    font-family:Inter;
  }
  
  .header{
    background-color: orange;
    
  }

  /* fim da scrollbar */
  /* inicio do card */

  .card-title {
    overflow: hidden;
    
  }
  .card-title p {
    font-family: 'Fredoka', sans-serif;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    margin: 25px;

  }

.slider {
  display: flex;
}

  .card {
    flex: 1;
    width: 300px;
    min-width: 300px;
    height:auto;
    background:#fff;
    border-radius:30px;
    position:relative;
    z-index:10;
    margin:25px;
    min-height:356px;
    cursor:pointer;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
  }
  
  .card:hover {
    transform:translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  .card h4 {
    position:absolute;
    left: 0;
    top: 0;
    padding: 15px;
  }
  
  .card i {
    position:absolute;
    right: 0;
    top: 0;
    padding: 15px;
    font-size:1.4rem;
    line-height:3.2rem;
  }
  
  .card .card-text {
    padding: 20px;
  }
  
  p {
    font-size: 1.2rem;
    opacity: .8;
    margin-top: 10px;
  }
  
  .card .card-img {
    transform: translate(90px,-10px);
    margin: 0 30px;
    display:flex;
    align-items: center;
    justify-content:center;
    transition: all .35s ease-out;
  }
  
  .card img {
    height:180px;
  }
  
  .card img.blur {
    position:absulute;
    filter:blur(15px);
    z-index:-1;
    opacity:.40;
    transform: translate(-160px,30px);
    transition: all .35s ease-out;
  }
  
  .card:hover .card-img {
    transform:translate(70px,-15px);
  }
  
  .card:hover .card-img img.blur {
    transform:translate(-100px,35px) scale(.85);
    opacity:.25;
    filter:blur(20px);
  }
  
  .card-content {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    overflow: hidden;
    padding: 50px 50px 50px 50px;
    scroll-behavior:smooth;
  }
  
  .card-content::-webkit-scrollbar {
     height:0px;
  }
  
  .card-content:after {
    content:'';
    display:block;
    min-width:20px;
    height:100px;
    position:relative;
  }
  
  /* fim do card */
 /* inicio do botao de direcao */

  .btn{
    min-width:60px;
    margin: 300px 0 0 30px;
    height:60px;
    border-radius:20px;
    background:#fff;
    border:0px;
    outline:none;
    cursor:pointer;
    z-index:9999;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
  }
  
  .btn:hover{
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  .btn i {
    font-size:1.2rem;
  }

  /* fim do botao de direcao */
  /* inicio do carrosel de produtos */

  .slider {
    display:flex;
    justify-content:center;
    background:rgb(242,243,248);
    width:100%;
    height:90vh;
    overflow:hidden;
  }
  
  .slider:after {
    content:'';
    left:90px;
    height:90vh;
    position:absolute;
    width: 130px;
    z-index:100;
    background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0)  100%);
    pointer-event:none;
  }
  
  .slider:before {
    content:'';
    right:90px;
    height:90vh;
    position:absolute;
    width:150px;
    z-index:100;
    background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1)  100%);
    pointer-event:none;
  }

#wrap {
    width:900px;
    margin:10px auto;
     
}
h2,p{margin:.5em 1em}

#nav { 
    width:900px;
    margin:0;
    padding:5px 0;
    text-align:center;
    list-style:none;
    justify: space-between;
}    

#nav li {
    display: inline-block;
}

#nav li a {
    display: inline-block;
    padding:5px 10px;
    text-decoration:none;
    color: red;
    font-weight:bold;
}

 /* fim do carrosel de produtos */
/* inicio da linha sobre os beneficios */

.benefits-line {
  list-style-type: none;
  margin: 1vh;
  padding: 0;
  text-align: center;
  margin-right: 13vh;
  
}

.benefits-line li {
  display: inline-block;
  min-width: 5em;
  margin: 0 5em;
  padding-bottom: 0;
  padding-top: 1.4em;
}

.benefits-line li img {
  height: 80px;
  width:  80px;
  margin-top: 20px;
}

.benefits-line p {
  height: 100px;
  width: 250px;
 
}

.benefits-line h3 {
  width: 250px;
  height: 20px;
  font-size: 2rem;
  
}

/* fim da linha sobre os beneficios */
/* inicio do sobre nos */

.contenu-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.contenu-section.top-half-white-bg {
  position: relative;
}
.contenu-section.top-half-white-bg:before {
  content: "";
  width: 100%;
  height: 60%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.contenu-section.bottom-half-white-bg {
  position: relative;
}
.contenu-section.bottom-half-white-bg:before {
  content: "";
  width: 100%;
  height: 60%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.contenu-section.left-white-bg {
  position: relative;
}
.contenu-section.left-white-bg:before {
  content: "";
  width: calc(50% - 300px);
  height: calc(100% + 1px);
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.contenu-section .container {
  position: relative;
}
.contenu-section .container-fluid {
  padding: 0 60px;
  position: relative;
}

/* background-image */
.section-bg {
  padding-top: 0;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: 1920px auto !important;
  background-repeat: no-repeat !important;
  position: absolute;
  left: 0;
  top: 0;
}

/* fim da sessao background-image */
/* inicio do botao  */
.contenu-button {
  width: 240px;
  height: 64px;
  float: left;
  position: relative;
  white-space: nowrap;
}
.contenu-button.light {
  color: #fff;
}
.contenu-button.light:hover .circle .icon.arrow {
  background: orange;
}
.contenu-button.light:hover .button-text {
  color: orange;
}
.contenu-button.light .circle {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  background: orange;
  border-radius: 64px;
}
.contenu-button.light .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #F8669E;
}
.contenu-button.light .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 18px;
  width: 18px;
  height: 2px;
  background: none;
}
.contenu-button.light .circle .icon.arrow::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #F8669E;
  border-right: 0.125rem solid #F8669E;
  transform: rotate(45deg);
}
.contenu-button.light .button-text {
  color: #fff;
}
.contenu-button .circle {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  background: orange;
  border-radius: 64px;
}
.contenu-button .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.contenu-button .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 18px;
  width: 18px;
  height: 2px;
  background: none;
}
.contenu-button .circle .icon.arrow::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.contenu-button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 44px;
  color: orange;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  font-size: 15px;
}
.contenu-button:hover {
  color: #fff;
}
.contenu-button:hover .circle {
  width: 100%;
}
.contenu-button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.contenu-button:hover .button-text {
  color: #fff;
}

/* fim do botao */
/* imagem do lado direito */
.side-image {
  width: 100%;
  display: block;
  margin-bottom: 0;
}
.side-image img {
  width: 100%;
}

/* fim da imagem */
/* conteudo do lado esquerdo */
.side-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.side-content.left {
  padding-right: 100px;
}
.side-content.right {
  padding-left: 100px;
}
.side-content.light {
  color: #fff;
}
.side-content.light .small-t {
  color: #fff;
}
.side-content .small-t {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #F8669E;
}
.side-content .medium-t {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 800;
}
.side-content .big-t {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 800;
  color: #eb6d2f;
}
.side-content p {
  width: 100%;
}
.side-content strong {
  font-weight: 600;
}
.side-content .contenu-button {
  margin-top: 40px;
}
.side-content .custom-link {
  margin-top: 40px;
}

// fim da sessao about us
//inicio do grid do produto

.product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1
}

.product-grid3:before {
  content: "";
  height: 81%;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease 0s
}

.product-grid3:hover:before {
  opacity: 1;
  height: 100%
}

.product-grid3 .product-image3 {
  position: relative
}

.product-grid3 .product-image3 a {
  display: block
}

.product-grid3 .product-image3 img {
  width: 100%;
  height: auto
}

.product-grid3 .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s
}

.product-grid3:hover .pic-1 {
  opacity: 0
}

.product-grid3 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-out 0s
}

.product-grid3:hover .pic-2 {
  opacity: 1
}

.product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  transform: scale(0);
  transition: all .3s ease 0s;
}

.product-grid3:hover .social {
  opacity: 1;
  transform: scale(1);
  text-align: center;
}

.product-grid3:hover .product-discount-label,
.product-grid3:hover .product-new-label,
.product-grid3:hover .title {
  opacity: 0;
}

.product-grid3 .social li {
  display: inline-block;
}

.product-grid3 .social li a {
  color: #e67e22;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all .3s ease 0s;
}

.product-grid3 .social li a:hover {
  background: #e67e22;
  color: #fff;
}

.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
  background-color: #e67e22;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all .3s;
}

.product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left;
}

.product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all .3s ease 0s;
}

.product-grid3 .title a {
  color: #414141;
}

.product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block;
}

.product-grid3 .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px;
}

.product-grid3 .rating {
  padding: 0;
  margin: -22px 0 0;
  list-style: none;
  text-align: right;
  display: block;
}

.product-grid3 .rating li {
  color: #ffd200;
  font-size: 13px;
  display: inline-block;
}

.product-grid3 .rating li.disable {
  color: #dcdcdc
}

@media only screen and (max-width:1200px) {
  .product-grid3 .rating {
      margin: 0
  }
}

@media only screen and (max-width:990px) {
  .product-grid3 {
      margin-bottom: 30px
  }
  .product-grid3 .rating {
      margin: -22px 0 0
  }
}

@media only screen and (max-width:359px) {
  .product-grid3 .rating {
      margin: 0
  }
}
// fim do grid de produtos
// inicio da newsletter


/* Add some padding and a grey background color to containers */
.container-newsletter {
  padding: 20px;
  background-color: #f1f1f1;
}


.container-newsletter h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 1.3em;
  padding-bottom: 0px;
}

.container-newsletter h3 {
  text-align: center;
  font-size: 2.2em;
}

.container-newsletter p {
  text-align: center;
  font-size: 1em;
}

input[type=text], input[type=submit] {
  text-align: center;
  width: 50%;
  padding: 12px;
  margin: 3px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.8px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: orange;
  color: white;
  border: none;
  margin-bottom: 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
}


//fim da newsletter
//inicio do footer 

*, *:before, *:after {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Fredoka', sans-serif;
  color:#333;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: 700;
  margin: 15px;
}

.footer__logo span{
  color: orange;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.footer address {
  font-style: normal;
  color: #999;
  margin: 15px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1.4rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  
}

.footer li {
  line-height: 2em;
  
}

.footer a {
  text-decoration: none;
  
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
  
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}